fastapi
sqlmodel
supabase
python-dotenv
psycopg2-binary
python-jose[cryptography]
boto3
rq 
rq-dashboard-fast 
pillow 
# https://rockyshikoku.medium.com/use-h264-codec-with-cv2-videowriter-e00145ded181
# opencv-python-headless
moviepy
alembic

# dev
ipython
